#title {
    text-align: center;
}

.tooltip {
    position: absolute;
    pointer-events: none;

    border: 1px solid red;
    background: white;
    padding: 15px;
    text-align: center;

    margin-left: 20px;


}
